/*body{
    background: url("../img/background1.jpg") no-repeat;
    -moz-background-size: 100%; *//* Firefox 3.6+ *//*
    -webkit-background-size: 100%; *//* Safari 3.1+ и Chrome 4.0+ *//*
    -o-background-size: 100%; *//* Opera 9.6+ *//*
    background-size: 100%; *//* Современные браузеры *//*
}*/
body{
    background: #EEEEEE;
}
div.header-img-wrap{
    margin: 0;
}
.header-img{
    width: 835px;
}
.right-float{
    float:right;
}
.search-form-wrap{
    margin-right: 100px;
}
.nav-bar-wrap{
    margin-left: -15px;
}
.margin-left-30{
    margin-left: 30px;
}
.user-picture{
    width: 150px;
    margin-top: 8px;
}
.user-picture-sidebar{
    width:100%;
    margin-top:15%
}
.user-info{
    margin-top: 35px;
}
.user-info p{
    font-size: 20px;
}
.margin-bot-10{
    margin-bottom: 10px;
}
.margin-bot-50{
    margin-bottom: 50px;
}
.shadow-text{
    position: absolute;
    background: #000000;
    opacity: 0.6;
    color: white;
    width: 150px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -20px;
    cursor:pointer;
    display:none;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin:0;
}
.shadow{
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
}
textarea{
    resize: none;
}
textarea.width-80,
input.width-80{
    width: 80%;
}
input.width-60{
    width: 60%;
}
input.width-40{
    width: 40%;
}
input.custom-bform-input{
    display: inline-block;
}
label.custom-bform-label{
    display: block;
}
a.custom-bform-link{
    margin-bottom: 3px;
    width: 10%;
}
a.custom-bform-link-5{
    margin-bottom: 3px;
    width: 4.8%;
}
img.book-cover{
    width: 60px;
}
/*TABLES*/
table.books-list{
    margin-top:2%;
}
table.books-list > thead{
    background: #5bc0de;
    color:white;
}
table.books-list > tbody{
    background: white;
    color:rgba(0,0,0, .6);
}
table.books-list > tbody > tr:hover{
    background: white;
}
table.books-list > thead > tr > td{
    text-align: center;
    border-left: 1px solid rgba(0,0,0, .05);
    font-size:17px;
}
table.books-list > tbody > tr > td{
    text-align: center;
    border-left: 1px solid rgba(0,0,0, .1);
}
table.books-list > thead > tr > td:first-child{
    border-left: none;
}
table.books-list > tbody > tr > td:first-child{
    border-left: none;
}
td.book-cover{
    width: 8%;
}
td.book-title{
    width: 25%;
}
td.book-description{

}
td.book-actions{
    width: 18%;
}
table.books-list > tbody > tr > td{
    vertical-align: middle;
}
img.attached-image{
    width: 100px;
}
html ul.attached-file-list{
    overflow-y: scroll;
    display: block;
}
.attached-file-list li{
    list-style: none;
    display: block;
    text-align: center;
}
.attached-file-list > li >p{
    text-align: center;
}
.edit-page-btn{
    margin-top: 5px;
    margin-right: 7px;
}
.margin-top-10{
    margin-top: 10px;
}
.offset-30{
    margin-left: 37.2%;
}
.invisible{
    display:none;
}
/*USER UNLOGGED HEADER*/
.header-main{
    margin: 0 auto;
}
.header-main-image img{
    width:100%;
}
.header-main-nav{
    background: white;
    margin-bottom: 2%;
}
.header-main-nav{
    text-align: center;
}
.header-main-nav ul{
    margin-bottom:10px;
    margin-left: 28%;
}
.header-main-nav ul li{
    display: inline-block;
    margin:0;
    font-size: 25px;
    width: 17%;
    line-height: 70px;
    /*text-transform: uppercase;*/
}
.header-main-nav ul li.item-separator{
    width: 2%;
    color:rgba(0,0,0, .5);
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header-main-nav ul li.item-large{
    width: 25%;
}
.header-main-nav ul li a{
    text-decoration: none;
    outline: none;
    color:rgba(0,0,0, .5);
    font-weight: 400;
}
.header-main-right form{
    width: 88.6%;
    margin-left: 8%;
    margin-top: 8%;
}
/*USER LOGGED HEADER*/
.header{
    background: white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
}
.header .avatar-wrap{
    margin-bottom: 8px;
}
/*main content wrap*/
.main-content{
    /*background: #ffff00;*/
}
/*USER NAVIGATION*/
div.user-nav{
    margin-top: 2%;
    background: white;
    padding: 0;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.39);
}
ul.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation li{
    display: inline-block;
    width: 13.5%;
    text-align: center;
    line-height: 45px;
}
.navigation li:first-child{
    width: 2.8%;
}
.navigation li.active,
.navigation li.active a
{
    background: #5bc0de;
    color: #ffffff;
}
.navigation li.nav-list-item:hover{
    cursor:pointer;
    background: #5bc0de;
}
.navigation li:hover a{
    color: #ffffff;
}
.navigation li:last-child{
    float: right;
    border: none;
}
.navigation li a{
    text-decoration: none;
    outline: none;
    color: rgba(0,0,0, .5);
    font-weight:600;
    font-size: 16px;
}
.navigation li a:hover{
    color:#ffffff;
}
.navigation li.first-item{
    color: rgba(0,0,0, .5);
}
/*DASHBOARD*/
.dashboard-container,
.dashboard-head{
    background: #ffffff;
}
.dashboard-head{
    margin-bottom: 2%;
    margin-top:2%;
    color:rgba(0,0,0,.5);
}
.dashboard-head h2{
    margin-bottom: 20px;
}
.dashboard-container img{
    border: 1px solid rgba(0,0,0,.4);
}
.dashboard-container .book-cover{
    margin-top:2%;
    margin-bottom: 2%;
}
/*USER INFO EDIT*/
.edit-user-info{
    background: #ffffff;
    margin-top: 2%;
}
.edit-user-info-form{
    margin-top: 2%;
    margin-bottom: 1%;
}
.edit-user-info-submit button{
    margin-left:35%
}
/*BOOK LAYOUT*/
.no-padding-left{
    padding-left:0px;
}
.book-add-form{
    border-left: 2px solid rgba(0,0,0, .2);
    padding-left: 1.3%;
}
.book-add-form form{
    margin-bottom: 2%;
}
.book-container{
    background: white;
}
/*BOOK NAVIGATION*/
.book-navigation ul{
    list-style: none;
    margin:0;
    padding:0;
}
.book-navigation ul li{
    display: inline-block;
    width: 100%;
    background: #5bc0de;
    padding-top: 5px;
    padding-bottom: 5px;
}
.book-navigation ul li:hover{
    background: #5bc0de;
}

.book-navigation ul li a{
    font-size: 17px;
    text-decoration: none;
    outline:none;
    color: rgba(0,0,0,.9);
}